<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="home">
        <main>
            <%- include('../partials/sidebar') %>
                <div class="slideshow">
                    <div class="slideshow-cap">
                        <img class="slideshow-img" src="/images/banners/banner.webp" alt="" sizes="" srcset="">
                    </div>
                </div>
                <section class="novedades">

                    <div class="div_container">
                        <% let count = 1 %>
                        <% products.forEach(product => { %>
                          <% if (product.statusId === 2 && count <= 3) { %>
                            <article class="art">
                              <a class="a_art_title" href="/products/detail/<%= product.id %>">
                                <p class="name">
                                  <%= product.name %>
                                </p>
                              </a>
                              <a class="a_art_img" href="/products/detail/<%= product.id %>">
                                <img src="/images/articulos/<%= product.images.length !== 0 ? product.images[0].image : '' %>" alt="producto">
                              </a>
                            </article>
                            <% count++ %>
                          <% } %>
                        <% }) %>
                      </div>
                      
                </section>
                <%- include('../partials/carrusel') %>
        </main>
        <%- include('../partials/footer') %>
            <script src="/js/carrusel.js"></script>
            <script src="/js/index.js"></script>

    </body>

</html>